$color-font: #184151;

$color-white: #fff;
$color-black: #000;

$color-black-light: #656565;
$color-black-dark: #020202;
$color-blue-light: #73cfe9;
$color-blue-dark: #36abd5;

$color-red: #f00;

$color-border: #b2b5b8;
$color-button: #5581ab;
$color-button-light: #189ad0;
$color-button-dark: #133953;
$color-button-accent-light: #6aa1c0;
$color-button-accent-dark: #406296;
